.table th, .table td {
  vertical-align: middle;
}

.table th {
  background-color: #001f77;
  color: white;
}

.container {
  display: flex;
}

.left-panel {
  width: 25%; /* Or fixed width like 300px */
}

.right-panel {
  width: 75%;
}
